<div class="wrapper">
  <div class="header">
    <div class="header_side"></div>
    <div class="title">
      <h1>FlaringBlog</h1>
    </div>
    <div class="header_side">
      <div class="right_actions">
        <%= link_to "New Post", post_post_path, class: "button_feed_action button_create_post" %>
        <%= link_to "Logout", feed_logout_path, method: :post, class: "button_feed_action button_logout" %>
      </div>
    </div>
  </div>

  <div class="posts" id="content">
    <% @posts.each do |post| %>
      <div class="post-card">
        <div class="container_creator">
          <img src="<%= post.creator_image %>">
          <p><%= post.creator_name %></p>
        </div>
        <%= image_tag(post.image, class: "image") %>
        <div class="container_message">
          <p><%= post.message %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>